#mainHome {
  display: flex;
  justify-content: space-between;
}
.burger {
  height: 500px;
  width: 800px;
}
.introduction {
  text-align: center;
}
.restaurantHeading {
  font-size: 5rem;
  color: #4c3d3d;
}
.introPara {
  font-size: 1.5rem;
  align-self: center;
  margin-top: 30px;
}

#info {
  margin-top: 40px;
  display: flex;
  gap: 100px;
}
#info section {
  background-color: #c08a1e;
  font-family: foodFont;
  padding: 2em;
  flex: 1;
  border-radius: 40px;
  box-shadow: 2px 10px 10px #d78f13;
}
#info section h2 {
  font-size: 3rem;
  color: #4c3d3d;
}
#info p {
  text-align: center;
  line-height: 40px;
}
#info p span {
  font-weight: bolder;
  font-style: italic;
}
