@font-face {
  font-family: foodFont;
  src: url(./KGBlankSpaceSketch.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: foodFont;
  background-color: #efae2d;
}
#content {
  padding: 30px;
}
h1 {
  margin: 0px 20%;
  text-align: center;
  font-size: 4rem;
  background-color: #ffde73;
  align-self: center;
  border-radius: 20px;
  border: 20px solid chocolate;
}
h2 {
  border: 10px solid chocolate;
  background-color: #ffde73;
  padding: 10px;
  text-align: center;
}

/* NAV BAR */
nav {
  height: 80px;
  background-color: chocolate;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
}
.option {
  gap: 50px;
  display: flex;
  height: 100%;
}
.navItem {
  font-weight: 900;
  font-size: 3rem;
  color: #efae2d;
  text-shadow: 2px 2px brown;
  font-style: italic;
  cursor: pointer;
}
input[name='nav-option'] {
  appearance: none;
}
label {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background-color: chocolate;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
